.PageHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 4em;
    background-color: purple;
    color: whitesmoke;
   }
   
h1, a {
    color: black;
}

this.img {
    width: 10%;
    /* justify-content: left; */
}
